@tailwind base;
@tailwind components;
@tailwind utilities;



/**
*
*   Pocketdoc CSS here
*
*/
.serif,.font-serif{
    font-family:  'Noto Serif',serif;
}

.sans,.font-sans{
    font-family: 'Comfortaa',sans-serif;
}

.text-pkd-primary{
    color: #860057;
}
.text-pkd-accent{
    color: #ACACDE;
}

.bg-pkd-primary{
    background-color: #860057;
}
.bg-pkd-accent{
    background-color: #ACACDE;
}